<h2>{{pageName}}</h2>
<h3>Clicked: {{clickCount}}</h3>
<div>
    <div ng-style="{width: windowWidth()}" style="border-top: 2px solid black; border-bottom: 2px solid black; display: block; margin-left: auto; margin-right: auto" id="container"></div>
    <div ng-show="selected.getX() > 0">
        <div>Selected Object:</div>
        <ul>
            <li>Position: ({{selected.position.x}},{{selected.position.y}})</li>
            <li>Velocity: ({{selected.velocity.x}},{{selected.velocity.y}})</li>
            <li>Mass: {{selected.mass}} kg</li>
        </ul>
    </div>
</div>
